# Use `source .env` to load items, likely you actually want
# ```sh
# set -a  # Automatically variables
# source .env
# set +a  # Stop auto-exporting
# <run some commands that need these vars>
# ```
#
# DO NOT wrap variables in quotes (THING=stuff is correct, not THING=stuff)
# Otherwise passing them to docker/podman may fail.
#
# ALL VARIABLES need to be \n terminated, no whitespace trimming happens

# Logging level
LOG_LEVEL=debug
# -----------------------------------------------------------------------------
# DOCKER IMAGES
DOCKER_OP_NODE_IMAGE=us-docker.pkg.dev/oplabs-tools-artifacts/images/op-node:latest
DOCKER_OP_BATCHER_IMAGE=us-docker.pkg.dev/oplabs-tools-artifacts/images/op-batcher:latest
DOCKER_OP_PROPOSER_IMAGE=us-docker.pkg.dev/oplabs-tools-artifacts/images/op-proposer:latest
DOCKER_OP_GETH_IMAGE=us-docker.pkg.dev/oplabs-tools-artifacts/images/op-geth:latest
DOCKER_OP_ALT_DA_IMAGE=ghcr.io/celestiaorg/op-alt-da:latest

# -----------------------------------------------------------------------------
# L1 (Anvil)
L1_CHAIN_ID=31337
L1_RPC_PORT=8545
L1_BEACON_RPC_PORT=8545

# -----------------------------------------------------------------------------
# EVM ACCOUNTS / PRIVATE KEYS
# Using Anvil's default funded accounts for convenience
# Account 0: Deployer
DEPLOYER_ADDRESS=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# Account 1: Batcher
BATCHER_ADDRESS=0x70997970C51812dc3A010C7d01b50e0d17dc79C8
BATCHER_PRIVATE_KEY=0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d

# Account 2: Proposer
PROPOSER_ADDRESS=0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC
PROPOSER_PRIVATE_KEY=0x5de4111afa1a4b94908f83103eb1f1706367c2e68ca870fc3fb9a804cdab365a

# Account 3: Sequencer / Unsafe Block Signer
SEQUENCER_ADDRESS=0x90F79bf6EB2c4f870365E785982E1f101E93b906
SEQUENCER_PRIVATE_KEY=0x7c852118294e51e653712a81e05800f419141751be58f605c371e15141b007a6

# Account 4: Challenger
CHALLENGER_ADDRESS=0x15d34AAf54267DB7D7c367839AAf71A00a2C6A65
CHALLENGER_PRIVATE_KEY=0x47e179ec197488593b187f80a00eb0da91f1b9d0b13f8733639f19c30a34926a

# Account 5: Admin (L1 & L2 Proxy Admin Owner, System Config Owner)
ADMIN_ADDRESS=0x9965507D1a55bcC2695C58ba16FB37d819B0A4dc
ADMIN_PRIVATE_KEY=0x8b3a350cf5c34c9194ca85829a2df0ec3153be0318b5e2d3348e872092edffba

# Account 6: Fee Recipient
FEE_RECIPIENT_ADDRESS=0x976EA74026E726554dB657fA54763abd0C3a0aa9

# -----------------------------------------------------------------------------
# DA (Celestia)
CELESTIA_APP_RPC_PORT=26657
CELESTIA_NODE_RPC_PORT=26658
CELESTIA_CORE_GRPC_PORT=9090

# private = local devnet
CELESTIA_NETWORK=private

# Celestia namespace (29 bytes = 58 hex chars, version 0 needs 18 leading zero bytes)
# string namespace = <padding>devnet 
CELESTIA_NAMESPACE=00000000000000000000000000000000000000000000006465766e6574

# see ./scripts/generate_celestia_devkey.sh
# Host cel-key keyring created by your non-interactive import script
CELESTIA_TX_KEY_NAME=devkey
CELESTIA_TX_KEYRING_PATH=${HOME}/.celestia-devnet
CELESTIA_KEYRING_VOLUME=celestia-keyring
# !!!!!! DEVELOPMENT ONLY !!!!!! for use with scripts to generate the key and place in keyring
CELESTIA_TX_ADDRESS=celestia1hkrz4dw26z69kmrfzjy0r0kjnkh5jkle3376nl
CELESTIA_TX_MNEMONIC=unique jaguar empower frozen task napkin brisk web popular forest plastic repeat buffalo tape iron reject flat aim laundry latin tattoo input camera above

# -----------------------------------------------------------------------------
# L2 (Optimism)
L2_CHAIN_ID=42069
L2_CHAIN_NAME=op-celestia-testnet

# EIP-4844 L1 blob settings
# target: 3        => ~0.75MB target per block (fast enough for dev)
# max: 6           => ~1.5MB max capacity (handles bursts)
# baseFee: 3338477 => Standard blob fee market mechanics
L2_BLOB_TARGET=3
L2_BLOB_MAX=6
L2_BLOB_FEE_FRACTION=3338477
 
# op-deployer artifacts
# see: https://docs.optimism.io/chain-operators/tools/op-deployer/reference/artifacts-locators
# "embedded" correct for devnet
L1_CONTRACTS_LOCATOR=embedded
L2_CONTRACTS_LOCATOR=embedded

# op-geth (L2 Execution)
OP_GETH_HTTP_PORT=9545
OP_GETH_WS_PORT=9546
OP_GETH_AUTH_PORT=9551

# op-node (L2 Consensus)
OP_NODE_RPC_PORT=7545
OP_NODE_P2P_TCP_PORT=9222
OP_NODE_P2P_UDP_PORT=9222
# JWT secret for op-geth <-> op-node communication
JWT_SECRET=0501582be00a740fb7b78914c9a497e820394034a33bd3f00c5ddef4173e8964
 
# op-batcher
# https://docs.optimism.io/chain-operators/guides/configuration/batcher#batcher-configuration
OP_BATCHER_RPC_PORT=8548
# [calldata|blobs|auto] The default value is calldata.
OP_BATCHER_DATA_AVAILABILITY_TYPE=blobs
# want as fast as possible publishing to L1, so set to minimum = 1
OP_BATCHER_MAX_CHANNEL_DURATION=1

# op-proposer
OP_PROPOSER_RPC_PORT=8560

# op-da-indexer (op-celestia-indexer)  
OP_CELESTIA_RPC_PORT=9999
OP_CELESTIA_DB_PATH=./config/indexer.db

# op-alt-da server
OP_ALT_DA_PORT=3100
OP_ALT_DA_METRICS_PORT=6060


# Alt-DA settings
ALTDA_COMMITMENT_TYPE=GenericCommitment
ALTDA_CHALLENGE_WINDOW=100
ALTDA_RESOLVE_WINDOW=100

